<div class="card">
    <p-table [value]="productData$ | async" layout="grid" [rows]="9" [paginator]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                List of Products
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}} <br> category</td>
                <td><img [src]="'assets/product_icons/' + product.icon" [alt]="product.name" width="100" class="p-shadow-4" /></td>
                <td>{{product.price | currency:'EUR'}}</td>
                <td>
                    <p-tag *ngIf="getStockAvailability(product) === 'in'" icon="pi pi-tag" value="In stock" severity="success"></p-tag>
                    <p-tag *ngIf="getStockAvailability(product) === 'low'" icon="pi pi-tag" value="Low stock" severity="warning"></p-tag>
                    <p-tag *ngIf="getStockAvailability(product) === 'none'" icon="pi pi-tag" value="Out of stock" severity="danger"></p-tag>
                </td>
                <td class="product-actions">
                    <p-button icon="pi pi-eye"></p-button>
                    <p-button icon="pi pi-shopping-cart"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>